{% if layout.common-ext-js %}
  {% for js in layout.common-ext-js %}
    {% include ext-js.html js=js %}
  {% endfor %}
{% endif %}

{% if page.ext-js %}
  {% for js in page.ext-js %}
    {% include ext-js.html js=js %}
  {% endfor %}
{% endif %}

{% if page.js %}
  {% for js in page.js %}
	<script src="{{ js | prepend: site.baseurl | replace: '//', '/' }}"></script>
  {% endfor %}
{% endif %}

{% if layout.common-js %}
  {% for js in layout.common-js %}
    <!-- doing something a bit funky here because I want to be careful not to include JQuery twice! -->
    {% if js contains 'jquery' %}
      <script>
      	if (typeof jQuery == 'undefined') {
      	  document.write('<script src="{{ js | prepend: site.baseurl | replace: "//", "/" }}"></scr' + 'ipt>');
      	}
      </script>
    {% else %}
	<script src="{{ js | prepend: site.baseurl | replace: '//', '/' }}"></script>
    {% endif %}
  {% endfor %}
{% endif %}

{% if page.mermaid %}
      <script type="text/javascript" src="../js/mermaid.min.js"></script>
      <script>
          var config = {
              startOnLoad:true,
              flowchart:{
                  useMaxWidth:false,
                  htmlLabels:true
              }
          };
          mermaid.initialize(config);
          $(function(){
              var elements = document.getElementsByClassName("language-mermaid");
              for (var i = elements.length; i--;) {
                  element = elements[i];
                  var graphDefinition = element.innerText;
                  if (graphDefinition) {
                      var svg = mermaid.render('ha_mermaid_' + i, graphDefinition, function(svg){});
                      if (svg) {
                          var svgElement = document.createElement('div');
                          preNode = element.parentNode;
                          svgElement.innerHTML = svg;
                          svgElement.setAttribute('class', 'mermaid');
                          svgElement.setAttribute('data-processed', 'true');
                          preNode.parentNode.replaceChild(svgElement, preNode);
                      }
                  }
              }
          });
      </script>
{% endif %}
